@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,regular,500,600,700,800,900);

/* #region  */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 0 1.25rem;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.font-primary {
  font-family: 'Noto Sans KR', sans-serif;
}

input, button, input::placeholder {
  font-family: inherit;
}

